.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d40;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  